button {
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: rgb(80, 60, 209);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(184, 43, 139);
}

.equals {
    grid-column: 3 / 5;
    background-color: rgb(211, 243, 29);
}

.equals:hover {
    background-color: rgb(15, 228, 125);
}