.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: rgb(80, 60, 209);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
}